# 1.문제정의
- 어떤 사람이 일년에 개인 수입 $50K 달러 초과인지 예측해보자

# 2. 데이터 수집
- kaggle data

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
train_data=pd.read_csv('./smhrd231218/train.csv')
test_data=pd.read_csv('./smhrd231218/test.csv')

# 3.데이터 전처리

In [7]:
train_data.columns, test_data.columns

(Index(['no', 'age', 'workclass', 'fnlwgt', 'education', 'education-num',
        'marital-status', 'occupation', 'relationship', 'race', 'sex',
        'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
        'income'],
       dtype='object'),
 Index(['no', 'age', 'workclass', 'fnlwgt', 'education', 'education-num',
        'marital-status', 'occupation', 'relationship', 'race', 'sex',
        'capital-gain', 'capital-loss', 'hours-per-week', 'native-country'],
       dtype='object'))

In [8]:
#문제데이터(X)와 정답데이터(y) 분류
X= train_data.loc[:,'age':'native-country']
y=train_data['income']

In [11]:
#문제데이터와 테스트데이터 일치 작업
X_test=test_data.loc[:,'age':'native-country']

In [ ]:
# no : 고유 번호
# age: 나이
# workclass: 고용 형태
# fnlwgt: CPS(Current Population Survey) 가중치
# education: 최종 학력
# education_num: 교육 수준을 숫자로 범주화
# marital_status: 결혼 여부
# occupation: 직업
# relationship: 가정 내 관계
# race: 인종
# sex: 성별
# capital_gain: 자본 이익
# capital_loss: 자본 손실
# hours_per_week: 주당 근무시간
# native_country: 출신 국가

In [12]:
X.columns, X_test.columns

(Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
        'marital-status', 'occupation', 'relationship', 'race', 'sex',
        'capital-gain', 'capital-loss', 'hours-per-week', 'native-country'],
       dtype='object'),
 Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
        'marital-status', 'occupation', 'relationship', 'race', 'sex',
        'capital-gain', 'capital-loss', 'hours-per-week', 'native-country'],
       dtype='object'))

In [20]:
X['workclass'].values

array([' Private', ' Private', ' Private', ..., ' Self-emp-not-inc',
       ' Private', ' ?'], dtype=object)

In [26]:
X['occupation'].value_counts()

 Prof-specialty       3724
 Craft-repair         3632
 Exec-managerial      3609
 Adm-clerical         3440
 Sales                3292
 Other-service        2975
 Machine-op-inspct    1811
 ?                    1668
 Transport-moving     1393
 Handlers-cleaners    1249
 Farming-fishing       888
 Tech-support          865
 Protective-serv       603
 Priv-house-serv       146
 Armed-Forces           10
Name: occupation, dtype: int64

In [40]:
#문자열 공백 제거 작업
X['workclass']=X['workclass'].str.strip()
X['occupation']=X['occupation'].str.strip()
X_test['workclass']=X_test['workclass'].str.strip()
X_test['occupation']=X_test['occupation'].str.strip()

In [41]:
X[X['occupation']=='?']['hours-per-week']

19       16
20       30
24       20
37       15
47       12
         ..
29244    40
29247    40
29280    15
29286    20
29304    40
Name: hours-per-week, Length: 1668, dtype: int64

In [43]:
# 이상치 ? 처리 => 그대로 두고 진행해보자
#컬럼 제거
del X['education']
del X['relationship']

In [44]:
del X_test['education']
del X_test['relationship']

In [48]:
X.info(),X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29305 entries, 0 to 29304
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             29305 non-null  int64
 1   workclass       29305 non-null  object
 2   fnlwgt          29305 non-null  int64
 3   education-num   29305 non-null  int64
 4   marital-status  29305 non-null  object
 5   occupation      29305 non-null  object
 6   race            29305 non-null  object
 7   sex             29305 non-null  object
 8   capital-gain    29305 non-null  int64
 9   capital-loss    29305 non-null  int64
 10  hours-per-week  29305 non-null  int64
 11  native-country  29305 non-null  object
dtypes: int64(6), object(6)
memory usage: 2.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19537 entries, 0 to 19536
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             19537 non-null  int64
 1   workclass       19537 non-null  object
 2   fnlwgt          19537 non-null  int64
 3   education-num   19537 non-null  int64
 4   marital-status  19537 non-null  object
 5   occupation      19537 non-null  object
 6   race            19537 non-null  object
 7   sex             19537 non-null  object
 8   capital-gain    19537 non-null  int64
 9   capital-loss    19537 non-null  int64
 10  hours-per-week  19537 non-null  int64
 11  native-country  19537 non-null  object
dtypes: int64(6), object(6)
memory usage: 1.8+ MB

(None, None)

In [49]:
#원핫인코딩 동일하게 적용
data=pd.concat([X,X_test],axis=0,ignore_index=True)
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education-num', 'marital-status',
       'occupation', 'race', 'sex', 'capital-gain', 'capital-loss',
       'hours-per-week', 'native-country'],
      dtype='object')

Index(['age', 'workclass', 'fnlwgt', 'education-num', 'marital-status',
       'occupation', 'race', 'sex', 'capital-gain', 'capital-loss',
       'hours-per-week', 'native-country'],
      dtype='object')

In [50]:
#one_hot_encoding
category=data[['workclass','marital-status','occupation','race','sex','native-country']]
one_hot=pd.get_dummies(category)
one_hot.shape

(48842, 80)

In [53]:
one_hot_data=pd.concat([data[['age','fnlwgt', 'education-num',
                              'occupation','capital-gain','capital-loss','hours-per-week']],one_hot],
                        axis=1,ignore_index=True)
one_hot_data.shape

(48842, 87)

In [54]:
X_train=one_hot_data.iloc[ :29305,: ]
X_test=one_hot_data.iloc[29305: , : ]

In [ ]:
#데이터 전처리
# 이상치 ? 그대로
# education, re1ataionship 삭제

# 5.모델 선택 및 하이퍼파라미터 튜닝

In [ ]:
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier,GradientBoostingClassifier
#하이퍼파라미터 튜닝
from sklearn.model_selection import GridSearchCV
#교차검증
from sklearn.model_selection import cross_val_score